{% extends "base.html" %}

{% block title %} Portfolio - Projects{% endblock %}

{% block content %}
    <h1>Projects</h1>
    <p>Here are some of my recent projects:</p>

    {% if projects %}
        <ul>
            {% for project in projects %}
            <li>
                <div class="card mb-3">
                  <div class="card-body">
                    <h3 class="card-title">{{ project.name }}</h3>
                    <p class="card-text">{{ project.description }}</p>
                    <p><strong>Tech:</strong> {{ project.technologies }}</p>
                    <p><strong>Status:</strong> {{ project.status }}</p>
                  </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No projects uploaded yet.</p>
    {% endif %}
{% endblock %}
